body{
    display: grid;
    background: url("../images/bg.gif");
    color:rgb(229, 228, 226);
    font-family: "Noto Serif JP", serif;
    font-size:xx-large;
}
a{
    color:cyan;
}
main{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.prologue{
    height:auto;
    width: 1200px;
    background-color: rgba(0, 0, 0, 0.9)
}
.name{
    font-weight: bolder;
    text-decoration: underline;
    color:rgb(245, 215, 155)
}
.tocLink{
    text-decoration: none;
}
table{
    text-align: center;
}
th{
    height:50px;
    width:50px;
}
.clear{
    background: #FF5C5C;
}